# Domyślne zachowanie dla plików tekstowych
* text=auto

# Wymuś traktowanie plików wygenerowanych przez Blazora jako binarne
# Dzięki temu Git nie zmieni w nich ani jednego bajtu (w tym znaków końca linii)
*.js binary
*.json binary
*.dll binary
*.pdb binary
*.wasm binary
*.dat binary
*.blat binary
*.br binary
*.gz binary
*.css binary